*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.body {
  display: grid;
  grid-template-rows: 58.99px auto 64px;
  height: 100vh;
}

.main {
  padding: 20px;
}

h1 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 18px;
  color: var(--primary-color);
}

h2 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
h3 {
  color: var(--lightblue-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.footer-nav-icons {
  filter: invert(58%) sepia(21%) saturate(416%) hue-rotate(173deg)
    brightness(87%) contrast(95%);
}
