@import '/src/styles/_base.css';
@import '/src/styles/_colors.css';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/design/background_shape_1.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header-title {
  font-size: 16px;
  font-weight: 700;
  padding-top: 18px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.header-subtitle {
  font-size: 12px;
  font-weight: 400;
  list-style: 18px;
  color: var(--lightblue-color);
}

.main {
  padding-top: 30px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  margin-bottom: 30px;
  width: 315px;
}

.name-container {
  border: 1px solid var(--text-color);
  border-radius: 6px;
  position: relative;
  margin-top: 10px;
}

.main-container-icon {
  position: absolute;
  top: 47px;
  left: 146px;
}

.main-container-item {
  font-size: 16px;
  color: var(--lightblue-color);
  border-bottom: 1px solid var(--text-color);
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container-item:last-child {
  border-bottom: none;
}

.footer-nav {
  margin: 0 20px 20px 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  box-shadow: var(--universal-shadow);
  border-radius: 10px;
}
