@import '/src/styles/_base.css';
@import '/src/styles/_colors.css';
@import '/src/styles/index.css';

.main-energy-level {
  margin-top: 20px;
}

.main-energy-level-button-100 {
  background-color: var(--button-color-01);
  color: var(--text-color);
}

.main-energy-level-button-75 {
  background-color: var(--button-color-02);
  color: var(--text-color);
}

.main-energy-level-button-50 {
  background-color: var(--button-color-03);
  color: var(--button-color-01);
}

.main-energy-level-button-25 {
  background-color: var(--button-color-04);
  color: var(--button-color-01);
}

.main-energy-level-button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.main-energy-level-button-content button {
  padding: 15px;
  border-radius: 5px;
  font-weight: 700;
}

/* Chart */

.graph-columns,
.graph-columns-2 {
  width: 10px;
  height: 175px;
  border-radius: 8px 8px 0 0;
}

.main-graph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.graph-column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.graph-columns {
  background-color: var(--button-color-01);
}

.graph-columns-2 {
  background-color: var(--primary-color);
}

.main-energy-chart h2 {
  margin-bottom: 20px;
}

/*  */

.graph-text {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  color: var(--graph-text-color);
}
.graph-time {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  color: var(--graph-text-color);
  margin-left: 60px;
}

.p-graph {
  font-size: 12px;
}

.graph-boxes {
  display: flex;
  justify-content: flex-end;
}

.graph-boxes-button1 {
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.graph-boxes-button2 {
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  background-color: var(--button-color-04);
  color: var(--button-color-01);
  font-size: 12px;
}
