@import '/src/styles/_base.css';
@import '/src/styles/_colors.css';

.body {
  display: grid;
  grid-template-rows: 58.99px auto 64px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  background-image: url('/design/background_shape_1.svg');
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.header-title {
  font-size: 16px;
  font-weight: 700;
  padding-top: 18px;
  color: var(--primary-color);
}

.main {
  padding-top: 30px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate-button {
  width: 200px;
  height: 48px;
  padding: 12px 44px;
  background-color: var(--button-color-01);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 RGBA(255, 90, 54, 0.4);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.main-container {
  margin-bottom: 30px;
  width: 315px;
}

.journal-container {
  box-shadow: var(--universal-shadow);
  border-radius: 6px;
  margin-top: 10px;
  padding: 20px;
}

.journal-title {
  margin-bottom: 20px;
}

.scala {
  margin-top: 10px;
  margin-bottom: 20px;
}

.rating-icon {
  padding-right: 20.18px;
}

.com-scala {
  display: flex;
  justify-content: space-between;
}

.journal-text {
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.motto-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-color);
}

.footer-nav {
  margin: 0 20px 20px 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  box-shadow: var(--universal-shadow);
  border-radius: 10px;
}
